.Top-container{
	padding: 20px 40px;
}
.About-container{
	padding: 50px 50px;

}
#Font0{
  font-size: 50px;
   font-family: 'Fredoka One', cursive;
   text-align: center;
   text-shadow: 5px 5px 5px white;
    padding-top: 50px;
    padding-bottom: 30px;
    margin-left: 4%;

}

#Font1{
	font-size: 50px;
    text-align: center;
    font-family: 'Grandstander', serif;
    text-shadow: 5px 5px 5px white;
    padding-top: 55px;
}
#Font2{
	font-family: 'Grandstander', serif;
	font-size: 50px;
	   text-align: center;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 25%;
  padding: 10px 10px;
}

.row {margin: 0 -5px;}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(255, 240, 189);
  padding: 16px;
  font-family: 'Concert One', cursive;
  font-size: 20px;
  text-align: center;
  background-color: rgba(255, 240, 189);
}


.card:hover {
	 box-shadow: 2px 5px 10px 2px orange;
	 transition: 0.1s;
}

img:hover {
	box-shadow: 4px 3px 4px 3px beige;
	 transition: 0.1s;
}

/*side nav-bar*/

body {
  font-family: "Lato", sans-serif;
  transition: background-color .5s;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 22px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 30px;
}

#main {
  transition: margin-left .5s;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
